@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color:rgb(0, 0, 0);
  --background-color-offset:rgb(32, 31, 28);
  --highlight-color: rgb(255, 115, 0);
  --highlight-color-offset: rgb(206, 86, 0);
  --contrast-color:#FFFFFF;
  --contrast-color-offset:#F8F8F8;
}

[data-theme="light"] {
  --background-color:rgb(255, 255, 255);
  --background-color-offset:rgb(255 237 213)9;
  --highlight-color: rgb(251 146 60);
  --highlight-color-offset: rgb(249 115 22);
  --contrast-color:#000000;
  --contrast-color-offset:#040404;

}

body{
  color: var(--contrast-color);
}